* {
  margin: 0;
  padding: 0;
}

nav.navbar {
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: saturate(180%) blur(20px);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  position: sticky;
  top: 0;
  max-height: 65px;
  z-index: 100;
  font-family: Roboto, sans-serif;
  font-size: 16px;
}

nav.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  padding: 15px 0;
  background-color: white;
}
nav .container {
  display: flex;
  justify-content: space-between;
}
nav .container .menu ul {
  display: flex;
}
nav .container .menu ul li {
  list-style: none;
  margin: 0 10px;
}

/*# sourceMappingURL=style.css.map */
