* {
    margin: 0;
    padding: 0;
}


nav.navbar {
    background: hsla(0,0%,100%,.4);
    backdrop-filter: saturate(180%) blur(20px);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    position: sticky;
    top: 0;
    max-height: 65px;
    z-index: 100;
    font-family: Roboto,sans-serif;
    font-size: 16px;
}

nav.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav{
    padding: 15px 0;
    background-color: $primary;
    .container{
        display: flex;
        justify-content: space-between;
        .menu{
            ul{
                display: flex;
                li{
                    list-style: none;
                    margin: 0 10px;
    
                }
            }
        }
    }
    
  }
